@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

/* body{
    background: url('img/jordan-wozniak-xP_AGmeEa6s-unsplash.jpg') rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.home-body {
    overflow-y:hidden;
}


.maincontent{
    background: url('img/dawid-zawila--G3rw6Y02D0-unsplash.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.maincontent::before{
    background-color: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.maincontent .container{
    height: 120vh;
    z-index: 1;
    position: relative;
}

.maincontent h1{
    font-size: 1.5em;
    font-family: "Roboto Slab", sans-serif;
}

.maincontent h2{
    font-size: 0.9em;
    font-family: "Roboto Slab", sans-serif;
}

@media(max-width: 991px){
    .sidebar{
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.logo{
    font-weight: 550;
}

.navbar{
    background-color: #fffffb;
    height: 50px;
    padding: 8px 20px;
}

.navbar-toggler{
    border: none;
    font-size: 1.25 rem;
}

.navbar-toggler:focus, btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #333333;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

/* .nav-link::after{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after{
    content: '';
    opacity: 1;
    height: 2px;
    width: 100%;
    background-color: #7a1d0f;
    position: absolute;
    bottom: 0;
    left: 0;

} */

.logout-button{
    background-color: #be2d18;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
}

.logout-button:hover{
    background-color: #7a1d0f;
}

.login-button{
    background-color: #be2d18;
    color: #fff;
    padding: 8px 20px;
}

.login-button:hover{
    background-color: #7a1d0f;
}



@media (min-width:991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #7a1d0f;
        visibility: hidden;
        transition: 0.18s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

